.Persik {
  display: block;
  width: 30%;
  max-width: 240px;
  margin: 20px auto;
}

.Preview {
  display: block;
  width: 90%;
  margin: 0px auto;
}

.Wrapper {
  position: relative;
  margin: 0 auto;
  width: 400px;
}

.Canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.Preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Spinner {
  width: 24px;
  margin-right: 20px;
}

@keyframes flash {
  0% {
    opacity: 1;
    filter: hue-rotate(0deg);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    filter: hue-rotate(360deg);
  }
}

.NoPls{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 1s;
  animation-name: flash;
  animation-iteration-count: infinite;
}